<div class="d-flex justify-content-between align-items-center mb-3">
  <a href="/" class="text-decoration-none">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-arrow-return-left"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"
      />
    </svg>
    &nbsp;Back
  </a>
  <a href="/routines/{{id}}/edit" class="btn btn-secondary">Edit</a>
</div>

<h1>{{name}}</h1>

{{#each workouts as |workout|}}
  <h2>{{workout.name}} ({{workout.days}} days)</h2>

  {{#each workout.exercises as |exercise|}}
    <h3>{{exercise.name}} (Rest: {{exercise.minutes}} min)</h3>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="col-2">Date</th>
            <th scope="col" class="col-2">Weight (Kg)</th>
            <th scope="col" class="col-2">Sets</th>
            <th scope="col" class="col-2">Reps</th>
            <th scope="col" class="col-4">Performance</th>
          </tr>
        </thead>
        <tbody>
          {{#each exercise.trackings as |tracking|}}
            <tr>
              <td>{{tracking.date}}</td>
              <td>{{tracking.weightKg}}</td>
              <td>{{tracking.sets}}</td>
              <td>{{tracking.repetitions}}</td>
              <td>{{tracking.performance}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <form action="/exercises/{{exercise.id}}/trackings" method="post">
      <div class="row g-2">
        <div class="col-lg-2">
          <label for="date-{{exercise.id}}" class="visually-hidden">Date</label>
          <input
            type="date"
            class="form-control"
            id="date-{{exercise.id}}"
            name="date"
            value="{{@root.currentDate}}"
            required
          />
        </div>
        <div class="col-lg-2">
          <label for="weight-{{exercise.id}}" class="visually-hidden">
            Weight (Kg)
          </label>
          <input
            type="number"
            class="form-control"
            id="weight-{{exercise.id}}"
            name="weightKg"
            min="0"
            required
          />
        </div>
        <div class="col-lg-2">
          <label for="sets-{{exercise.id}}" class="visually-hidden">Sets</label>
          <input
            type="number"
            class="form-control"
            id="sets-{{exercise.id}}"
            name="sets"
            min="0"
            required
          />
        </div>
        <div class="col-lg-2">
          <label for="reps-{{exercise.id}}" class="visually-hidden">Reps</label>
          <input
            type="number"
            class="form-control"
            id="reps-{{exercise.id}}"
            name="repetitions"
            min="0"
            required
          />
        </div>
        <div class="col-lg-3">
          <label for="performance-{{exercise.id}}" class="visually-hidden">
            Performance
          </label>
          <input
            type="text"
            class="form-control"
            id="performance-{{exercise.id}}"
            name="performance"
            required
          />
        </div>
        <div class="col-lg-1">
          <button type="submit" class="btn btn-primary w-100">Add</button>
        </div>
      </div>
    </form>
  {{else}}
    <div class="mb-3">
      <p>This workout currently has no exercises. Add your first exercise to get
        started!</p>
      <a href="/workouts/{{workout.id}}/edit" class="btn btn-primary">
        Add exercise
      </a>
    </div>
  {{/each}}
{{else}}
  <div class="mb-3">
    <p>This routine is currently empty. Add your first workout to get started!</p>
    <a href="/routines/{{id}}/workouts/create" class="btn btn-primary">Add
      workout</a>
  </div>
{{/each}}