<div class="d-flex justify-content-between">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> <a href="/">Routines</a></li>
      <li class="breadcrumb-item">
        <a href="/routines/{{routine.id}}">{{routine.name}}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{name}}
      </li>
    </ol>
  </nav>
  <button
    type="button"
    class="btn btn-danger"
    data-bs-toggle="modal"
    data-bs-target="#deleteModal"
  >
    Delete
  </button>
</div>

<h1>Edit</h1>

<form action="/workouts/{{id}}" method="post">
  <input type="hidden" name="_method" value="PUT" />
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      value="{{name}}"
      placeholder="Enter workout name"
      required
    />
  </div>
  <div class="mb-3">
    <label for="days" class="form-label">
      Days
    </label>
    <input
      type="number"
      class="form-control"
      id="days"
      name="days"
      value="{{days}}"
      min="1"
      max="7"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>

<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Confirm Delete</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this workout?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <form action="/workouts/{{id}}" method="post">
          <input type="hidden" name="_method" value="DELETE" />
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>