<div class="d-flex justify-content-between">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> <a href="/">Routines</a></li>
      <li class="breadcrumb-item">
        <a href="/routines/{{routine.id}}">{{routine.name}}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{name}}
      </li>
    </ol>
  </nav>
</div>

<h1>Edit</h1>

<form action="/workouts/{{id}}" method="post">
  <input type="hidden" name="_method" value="PUT" />
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      value="{{name}}"
      placeholder="Enter workout name"
      required
    />
  </div>
  <div class="mb-3">
    <label for="days" class="form-label">
      Days
    </label>
    <input
      type="number"
      class="form-control"
      id="days"
      name="days"
      value="{{days}}"
      min="1"
      max="7"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>